body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #f2f2f2;
}

#container{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 600px;
}

#marca{
    height: 200px;
    background: #9E9E9E url(img/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#conteudo{
    width: 74%;
    float: right;
}
#conteudo-principal{
    width: 64%;
    float:left;
}
#conteudo-secundario{
    width: 34%;
    float: right;
    background: #d1d1d1;
    padding-left: 2%;
}
#navegacao{
    width: 25%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul{
    list-style: none;
}
#navegacao ul li a{
    text-decoration: none;
}
#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}
.img-noticia{
    width: 90%;
    padding: 2%;
    max-width: 600px;
}
/*
.imagem{
    width: 90%;
    border: 1px solid red;
    overflow: hidden;       Esconde o que passar do tamanho do container principal
}
/*